{% extends "shop/base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{shop_base}}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

{% if error_message %}
    <div class="error">{{ error_message }}</div>
{% else %}
{% trans 'Downloading of' %} <b>{{ download_product.product_name }}</b> {% trans 'will commence after clicking the link below:' %}
<p><a href = "{{dl_url}}"> {{download_product.downloadable_product.product.translated_name}} </a></p>
<p>{% trans 'Once you click the link, the download will be counted.  If you have trouble with the download, please refresh your browser and try the download again' %}</p>
{% endif %}
{% endblock %}
