{% extends "checkout/base_confirm.html" %}
{% load i18n %}
{# this is the Paypal confirm template #}

{% block payment_step %}<a href="{% url PAYPAL_satchmo_checkout-step2 %}">{% trans "Payment" %}</a>{% endblock %}

{% block payment_display %}
<h4>{% trans "Payment" %}</h4>
{% if not PAYMENT_LIVE %}<b>PAYMENT TEST MODE</b><br/>{% endif %}
{% trans "Your payment will be processed through PayPal." %}
{% endblock %}

{% block payment_form %}
<form action="{{ post_url }}" method="post">
<input type="hidden" name="cmd" value="_cart" />
<input type="hidden" name="upload" value="1" />
<input type="hidden" name="business" value="{{ business }}" /> 
<input type="hidden" name="currency_code" value="{{ currency_code }}" />
<input type="hidden" name="no_shipping" value="1" />
<input type="hidden" name="return" value="{{ return_address }}" />
{% for item in order.orderitem_set.all %}
<input type="hidden" name="item_name_{{forloop.counter}}" value="{{item}}" />
<input type="hidden" name="amount_{{forloop.counter}}" value="{{item.unit_price}}" />
<input type="hidden" name="quantity_{{forloop.counter}}" value="{{item.quantity}}" />
{% endfor %}
<input type="hidden" name="shipping_1" value="{{order.shipping_sub_total}}" />
<input type="hidden" name="tax_cart" value="{{order.tax}}" />
<input type="submit" value="{% trans "Purchase Items" %}" />
</form>
{% endblock %}
