{% extends "base_satchmo.html" %}
{% load i18n %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% if default_view_tax %}{% load satchmo_tax %}{% endif %}

{% block navbar %}
    <li class="first"><a href="{{shop_base}}/">{% trans "Home" %}</a></li>
    <li>{% trans "Cart" %}</li>
{% endblock %}

{% block content %}

{% if error_message %}
<div class="error">{{ error_message }}</div>
{% endif %}
{% if not cart %}
    <h4>{% trans "Your cart is empty." %}</h4>
{% else %}
    <h4>{% trans "Your Cart" %}</h4>
    <table><tr><th></th>
    <th align="left">{% trans "Quantity" %}</th>
    <th>{% trans "Item" %}</th>
    <th align="center">{% if default_view_tax %}{% trans "Total<br/>(incl.&nbsp;tax)" %}{% else %}{% trans "Total" %}{% endif %}</th>
    </tr>

    {% for cartitem in cart %}
        <tr><td>
            <form action="{% url satchmo_cart_remove %}" method="post">
                <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
                <input type="submit" value="{% trans 'Remove' %}" />
            </form>
            </td>
            <td align="center">
                <form class="qtyform" id="form-{{ cartitem.id }}" action="{% url satchmo_cart_set_qty %}" method="post">
                    <input type="hidden" name="cartitem" value="{{ cartitem.id }}" />
					<input type="text" name="quantity" id="id_quantity" value="{{ cartitem.quantity }}" />
                    <input type="submit" id="id_update_submit" value="{% trans 'update amount' %}" />
                </form>
            </td>
            <td><a href="{{cartitem.product.get_absolute_url}}">{{ cartitem.description }}</a></td>
            <td align="center">{% if default_view_tax %}{% cartitem_line_taxed_total cartitem 1 %}{% else %}{{ cartitem.line_total|currency }}{% endif %}</td>
        </tr>
        {% if cartitem.product|is_producttype:"CustomProduct" %}{% with cartitem.product.customproduct as custom %}
        <tr>
            <td>&nbsp;</td>
            <td colspan="2">
                {% ifnotequal custom.discount 100 %}
                    {% trans 'Base Price: ' %}{{ custom.full_price|currency }}<br/>
                    <i>{% trans 'price at right is your deposit, you will receive a bill for the remainder when your item is ready.' %}</i><br/>
                {% endifnotequal %}
                {% for detail in cartitem.details.all %}
                    {% if not forloop.first %}<br />{% endif %}
                    {{ detail.name }}: {{ detail.value }} {% if detail.price_change %} {{ detail.price_change|currency}} {% endif %}
                {% endfor %}
            </td>
            <td>&nbsp;</td>
        </tr>
        {% endwith %}{% endif %}
    {% endfor %}
    <tr><td colspan="3" align="right">{% trans "Cart Total" %}:</td>
        <td>{% if default_view_tax %}{% cart_taxed_total cart 1 %}{% else %}{{cart.total|currency}}{% endif %}</td></tr>
    </table>
    {% if sale %}
	{% include "discount/some_eligible.html" %}
	{% endif %}
	
    <a href="{% url satchmo_checkout-step1 %}">{% trans "Check out" %}</a>
{% endif %}
{% endblock %}
