{% extends "base.html" %}
{% load i18n %}
{% load satchmo_thumbnail satchmo_category%}

{% block extra-head %}
{% if category.meta %}
    <meta name="description" content="{{ category.meta|escape }}">
{% endif %}
{% endblock %}

{% block navbar %}
    <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for urls in category.get_url_name %}
    {% if forloop.last %}
    <li>{{ urls.0 }}</li>    
    {% else %}
    <li><a href="{{urls.1}}">{{ urls.0 }}</a></li>
    {% endif %}
{% endfor %}
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Shop Categories" %}</h3>
    <div id="menu_container">
    {% category_tree category.id %}
    </div>
{% endblock %}

{% block content %}
<div id="product_category">
<h3>{{ category.translated_name }}</h3>
    {% for product in category.product_set.active %} 
        {% if forloop.first %} <ul>  {% endif %}
            <li><a href="{{ product.get_absolute_url }}">
            <img src="{{ product.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" /> </a>
            <a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a></li>
        {% if forloop.last %} </ul> {% endif %}
    {% endfor %}
{% if child_categories %}
        {% for cat in child_categories %}
            <h4>{{cat.translated_name}}</h4>
            {% for product in cat.product_set.active %}
                {% if forloop.first %} <ul>  {% endif %}
                <li><a href="{{ product.get_absolute_url }}">
                <img src="{{ product.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" /> </a>
                <a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a></li>
                {% if forloop.last %} </ul> {% endif %}
            {% endfor %}
        {% endfor %}
{% endif %}
{% if sale %}
{% include "discount/some_eligible.html" %}
{% endif %}
</div>
{% endblock %}
