<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% load i18n satchmo_category satchmo_google satchmo_recentlist %}
<head>
    {% block extra-head %}{% endblock %}
    <link rel="stylesheet" href="{{ media_url }}css/style.css" />
    <title>{% block title %}{{ shop_name }}{% endblock %}</title>
</head>
<body>
    <div id="container">

    <div id="top">
        <h1>{{ shop_name }}</h1>
    </div>

    <div id="navbar">
    <ul>
    {% block navbar %}
       Breadcrumbs here
   {% endblock %}
   </ul>
    </div>

    <div id="leftnav">
	<div>
            <h3>{% trans "Search" %}</h3>
            <form id="search" action="{% url satchmo_search %}" method="get">
                <input type="text" size="20" name="keywords" id="search_keywords" /><br/>
                <input type="submit" value="{% trans "Search" %}" />
             </form>
	</div>
	<div>
            {% block sidebar %}
            <h3>{% trans "Shop Categories" %}</h3>
            <div id="menu_container">
                {% category_tree %}
            </div>
            {% endblock %}
        </div>
     </div>

        <div id="rightnav">
            <h3>{% trans "Account Information" %}</h3>
            {% if user.is_authenticated %}
                <a href="{% url satchmo_account_info %}">{% trans "Account Details" %}</a><br/>
                <a href="{% url auth_logout %}">{% trans "Log out" %}</a><br/>
            {% else %}
                <a href="{% url auth_login %}">{% trans "Log in" %}</a><br/>
            {% endif %}

            {% load satchmo_currency %}
            <a href="{% url satchmo_cart %}">{% trans "Cart" %}</a>

            {% if cart_count %}
                ({{ cart_count }} - {% spaceless %}{% if shop.options.TAX.DEFAULT_VIEW_TAX.value %}
                {% load satchmo_tax %}{% cart_taxed_total cart 1 %}{% else %}{{ cart.total|currency }}
                {% endif %}){% endspaceless %}<br/>
                <a href="{% url satchmo_checkout-step1 %}">{% trans "Check out" %}</a>
            {% endif %}

            <p><a href="{% url satchmo_contact %}">{% trans "Contact Us" %}</a></p>
            
            {% if shop.options.LANGUAGE.ALLOW_TRANSLATION.value %}
            <form action="{{shop_base}}/i18n/setlang/" method="post">
            <p> {% trans "Change language" %} </p>
                <select name="language">
                    {% for lang in shop.options.LANGUAGE.LANGUAGES_AVAILABLE.choice_values %}
                        <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                    {% endfor %}
                </select>
            <input type="submit" value="{% trans 'Change' %}" />
            </form>
            {% endif %}
            {% block recentview %}
            {% recentlyviewed recent_products %}
            {% endblock %}
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            {% blocktrans %}Powered by <a href="http://www.satchmoproject.com">Satchmo</a>.{% endblocktrans %}
        </div>

    </div>
    {% block google-tracker %}
    {% if shop.options.GOOGLE.ANALYTICS.value %}
        {% show_tracker is_secure %}
    {% endif %}
    {% endblock %}
</body>
</html>
