{% extends "base.html" %}
{% comment %}
-------------------------------------------------------------------
Note to template authors.

This is the base product detail page.
To modify pages specific types of pages, such as ProductVariations
or CustomProducts look for product/detail_xxx.html
-------------------------------------------------------------------
{% endcomment %}
{% load i18n %}
{% load satchmo_thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_ratings %}
{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block navbar %}

<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% for name, url in product.category.all.0.get_url_name %}        
    <li><a href="{{ url }}">{{ name }}</a></li>    
{% endfor %}
<li>{{ product.translated_name }}</li>
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Shop Categories" %}</h3>
    <div id="menu_container">
    {% category_tree product.get_category.id %}
    </div>
{% endblock %}

{% block content %}
<h4>{{ product.translated_name }}</h4>
<p>{{ product.translated_description }}</p>
{% trans "Price" %} {% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}: 
<h3 id="price">{% if default_view_tax %}{{ price_with_tax|currency }}{% else %}{{ product.unit_price|currency }}{% endif %}</h3> 
{% for pic in product.productimage_set.all %}
    <img src="{{ pic.get_picture_url|thumbnail:"width=280" }}" width="280" />
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url satchmo_cart_add %}" method="post">
{% trans "Quantity" %} <input type="text", size="2", name="quantity" id="quantity" value="1" class="priced" />
<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
<input type="submit" value="{% trans "Add to cart" %}" />
</form>
{% product_ratings %}
{% endblock %}
