{% extends "base.html" %}
{% load i18n %}
{% load satchmo_currency %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
{% endblock %}

{% block content %}

{% if not results.categories and not results.products %}
<h4>{% trans "Nothing found" %}</h4>
{% else %}
	{% if results.categories %}
		<h4>{% trans "Categories" %}</h4>
		<ul>
	    {% for category in results.categories %}
	        <li><a href="{{ category.get_absolute_url }}">{{ category.translated_name }}</a></li>
	    {% endfor %}
		</ul>
	{% endif %}
	
	{% if results.products %}
		<h4>{% trans "Products" %}</h4>
		<ul>
		{% for product in results.products %}
	        <li><a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a> {% trans "for" %} {{ product.unit_price|currency}}</li>
	    {% endfor %}
		</ul>
	{% endif %}
{% endif %}
{% endblock %}
