recursive-include satchmo/apps *.po *.mo *.html *.txt *.rml *.xml *.yaml *.csv
recursive-include satchmo/apps/l10n/bin *
recursive-include satchmo/static *
recursive-include satchmo/projects/skeleton/localsite *
recursive-include docs *

include AUTHORS CONTRIBUTORS LICENSE CHANGELOG
include setup.cfg
