{% extends "base.html" %}
{% load i18n %}
{% load satchmo_thumbnail %}
{% load satchmo_util %}

{% block content %}
<h2>{% trans "Best Selling Products" %}</h2>
{% for product in products %}
	<div class="bestseller">
    <div class = "productImage">    
   		{% if product.main_image %}
      	<center>
      		<a href="{{ product.get_absolute_url }}"><img src="{{ product.main_image.get_picture_url|thumbnail:"width=85" }}" width="85" /> </a>
      	</center>
   		{% endif %}     
    	<p><a href="{{ product.get_absolute_url }}">{{ product.translated_name }}</a></p>
	</div>
	</div>
{% endfor %}
{% endblock %}