{% extends "base_satchmo.html" %}
{% load i18n %}
{% load satchmo_thumbnail %}
{% load satchmo_util %}

{% block navbar %}
<li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
<li>{% trans "Most Popular" %}</li>
{% endblock %}

{% block content %}
<h2>{% trans "Categories" %}</h2>
{% for category in categorylist %}
	<div class="category">
    <div class = "productImage">    
   		{% if category.main_image %}
      	<center>
      		<a href="{{ category.get_absolute_url }}"><img src="{{ category.main_image.picture.url|thumbnail:"width=85" }}" width="85" /> </a>
      	</center>
   		{% endif %}     
    	<p><a href="{{ category.get_absolute_url }}">{{ category.translated_name }}</a><br/>
		</p>
	</div>
	</div>
{% endfor %}
{% endblock %}
