{% extends "base.html" %}
{% load i18n %}
{% load satchmo_thumbnail %}
{% load satchmo_price %}
{% load satchmo_currency %}
{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}
{% endblock %}

{% block navbar %}

<a href="{{ shop_base }}/">{% trans "Home" %}</a> 
{% for name, url in product.category.all.0.get_url_name %}
    :: <a href="{{ url }}">{{ name }}</a>
{% endfor %}

{% endblock %}

{% block content %}
<h4>{% blocktrans with product.name as name %}Custom order for {{ name }}{% endblocktrans %}</h4>
<p>{{ product.description }}</p>
{% trans "Price" %}: <h3 id="price">{{ product.unit_price|currency }}</h3>
{% for pic in product.productimage_set.all %}
    <img src="{{ pic.get_picture_url|thumbnail:"width=280" }}" width="280" />
{% endfor %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url satchmo_cart_add %}" method="post">
{% for custom in product.customproduct.custom_text_fields.all %}
<div>
{{ custom.name }}<br/>
<textarea name="custom_{{ custom.slug }}" rows="3" cols="40"></textarea>
</div>
{% endfor %}
{% trans "Quantity" %} <input type="text", size="2", name="quantity" id="quantity" value="1" class="priced" /> 
<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
<input type="submit" value="{% trans "Add to cart" %}" /> 
</form>
{% if shop.options.SHOP.RATINGS %}{% include '_product_ratings.html' %}{% endif %}
{% endblock %} 
