{% extends "base.html" %}
{% load i18n %}
{% load satchmo_thumbnail %}
{% load satchmo_price %}
{% load satchmo_util %}
{% load satchmo_currency satchmo_category%}
{% load satchmo_ratings %}
{% block extra-head %}
{% if product.meta %}
    <meta name="description" content="{{product.meta}}">
{% endif %}

<script type="text/javascript" src="{{media_url}}js/jquery.js"></script>
<script type="text/javascript" src="{{media_url}}js/jquery.form.js"></script>
<script type="text/javascript">
var satchmo = {
    default_view_tax : {% if default_view_tax %}true{% else %}false{% endif %},

    prices : {{ prices|as_json }},
        
    optmap : {{ optmap|as_json }},
    
    {% if taxes %}taxes : {{ taxes|as_json }},
    {% endif %}
    
    make_optionkey : function() {
        var k = Array({{options.count}});
        {% for option_group in options %}
        k[{{forloop.counter0}}] = $('#{{ option_group.id }}').fieldValue()[0];
        {% endfor %}
        return k.join('::');
    },
        
    {# Get the current selected product price.  If taxed is true, then #}
    {# return the price inclusive of taxes. #}
    get_current_price : function(slug, taxed) {
        if (!slug) { 
            slug = satchmo.get_current_slug(); 
        }
        var qty = parseInt($('#quantity').fieldValue()[0]);
        var k = taxed ? "taxes" : "prices";
        var prices = satchmo[k][slug];
        var best = prices['1'];
        if (qty > 1) {
            for (var pricekey in prices) {
                var priceqty = parseInt(pricekey);
                if (priceqty > qty) {
                    break;
                }
                best = prices[pricekey];
            }
        }
        return best;        
    },
    
    {# look up the slug by options selected #}
    get_current_slug : function() {
        var optkey = satchmo.make_optionkey();
        return satchmo.optmap[optkey];
    },
    
    set_name : function(name) {
        $("#productname").attr('value', name);
    },

    set_price : function(price){
        $("#price").text(price);
    },
    
    update_price : function() {
        slug = satchmo.get_current_slug();
        satchmo.set_name(slug);
        satchmo.set_price(satchmo.get_current_price(slug, satchmo.default_view_tax));
    }
}

$(function() {
    satchmo.update_price();
    $('.priced').change(function() { satchmo.update_price() });
});
</script>
{% endblock %}

{% block navbar %}

<a href="{{ shop_base }}/">{% trans "Home" %}</a>
{% for name, url in product.category.all.0.get_url_name %}
    :: <a href="{{ url }}">{{ name }}</a>
{% endfor %}

{% endblock %}

{% block sidebar %}
    {% trans "Shop Categories" %}<br/>
    <div id="menu_container">
    {% category_tree product.get_category.id %}
    </div>
{% endblock %}

{% block content %}
<h4>{{ product.translated_name }}</h4>
<p>{{ product.translated_description }}</p>
{% trans "Price" %}{% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}: <h3 id="price">{{ product.unit_price|currency }}</h3>
{% for pic in product.productimage_set.all %}
    <img src="{{ pic.get_picture_url|thumbnail:"width=280" }}" width="280" />
{% endfor %}

{% with product.translated_attributes as atts %}{% if atts %}
<p class="productattributes">
{% for att in product.translated_attributes %}
{{ att.name }}: {{ att.value }}<br/>
{% endfor %}
</p>
{% endif %}{% endwith %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="options" action="{% url satchmo_cart_add %}" method="post">
{% if options %}
<p>{% trans "Please choose your options" %}:</p>
{% endif %}

{% for option_group in options %}
 {{ option_group.name }}
    <select name="{{ option_group.id }}" id="{{option_group.id}}" class="priced">
    {% for choice in option_group.items %}
     <option value="{{ choice.value }}" {% if choice.selected %}selected="selected"{% endif %}>{{ choice.translated_name }}
        {% if choice.price_change %}
            {% option_price choice %}
        {% endif %}
     </option>
    {% endfor %}
      </select>
{% endfor %}
{% trans "Quantity" %} <input type="text", size="2", name="quantity" id="quantity" value="1" class="priced" />
<input type="hidden" name="productname" id="productname" value="{{product.slug}}" />
<input type="submit" value="{% trans "Add to cart" %}" />
</form>
{% product_ratings %}
{% endblock %}
