{% extends "base.html" %}
{% load i18n %}

{% block navbar %}
   <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
   <li><a href="{% url satchmo_account_info %}">{% trans "Account" %}</a></li>
   <li>{% trans "Password Change" %}</li>
{% endblock %}

{% block content %}
<h3>{% trans "Change your password" %}</h3>
<p>{% trans "For the sake of security, please enter your old password, and then enter your new password twice." %}</p>

<form action="" method="post">
<p>
	{% if form.old_password.errors %}
		{{ form.old_password.errors }}
	{% endif %}
	<label for="id_old_password">{% trans "Old password" %}:</label>
	{{ form.old_password }}
</p>
<p>
	{% if form.new_password1.errors %}
		{{ form.new_password1.errors }}
	{% endif %}
	<label for="id_new_password1">{% trans "New password" %}:</label>
	{{ form.new_password1 }}
</p>
<p>
	{% if form.new_password2.errors %}
		{{ form.new_password2.errors }}
	{% endif %}
	<label for="id_new_password2">{% trans "Confirm new password" %}:</label>
	{{ form.new_password2 }}
</p>
	<input type="submit" value= "{% trans "Change password" %}" />
</form>

{% endblock %}
