{% extends "base.html" %}
{% load i18n satchmo_category %}
{% block navbar %}
    <li class="first"><a href="{{ shop_base }}/">{% trans "Home" %}</a></li>
    <li>{% trans "Wishlist" %}</li>
{% endblock %}

{% block sidebar %}
    <h3>{% trans "Shop Categories" %}</h3>
    <div id="menu_container">
    {% category_tree %}
    </div>
{% endblock %}

{% block content %}
{% blocktrans %}Sorry, you must be <a href="{{ login_url }}">logged-in</a> to access your wishlist.{% endblocktrans %}
{% endblock %}