{% if shop.options.SHOP.ENFORCE_STATE %}
<script type="text/javascript">
/**
 * Populates state fields when the user selects a country.
 *
 * The following callbacks are provided, and call be overriden. They are called
 * when a request for values for the state field is sent and received
 * successfully.
 *
 *  - satchmo.on_state_load(state)
 *  - satchmo.on_ship_state_load(state)
 *
 * where state corresponds to the Boolean values:
 *  - true, when loading begins;
 *  - false, when loading is completed.
 */
jQuery(document).ready(function($) {
	var CLONE = false;

	{# Clone state fields if countries have to match. #}
	{% if shop.options.PAYMENT.COUNTRY_MATCH.value %}
	CLONE = true;
	{% endif %}

	var get_prefix_complement = function(prefix) {
		if (prefix == "") { return "ship_"; }
		else if (prefix == "ship_") { return ""; }
	};

	var hook_country_field = function(p) {
		$(":input[name="+p+"country]").change(function() {
			var data = {};
			data[p+"country"] = $(this).val();

			var callback = function(result) {
				if (!result) { return; }
				$(":input[name="+p+"state]").html(result);
				satchmo[p+"state_load"](false);

				if (!CLONE) { return; }
				$(":input[name="+get_prefix_complement(p)+"state]").html(result);
				satchmo[get_prefix_complement(p)+"state_load"](false);
			};

			/* invoke callbacks */
			satchmo[p+"state_load"](true);
			if (CLONE) { satchmo[get_prefix_complement(p)+"state_load"](true); }

			$.post("{% url satchmo_contact_ajax_state %}", data, callback, "html");
		});
	}

	var set_default_load_handler = function(p) {
		satchmo[p+"state_load"] = function(state) {
			if (state) { $("#id_"+p+"state_loading").show(); }
			else { $("#id_"+p+"state_loading").hide(); }
		};
	}

	var satchmo = satchmo || {};

	/* Hook up country fields. */
	var field_prefixes = ["", "ship_"];
	for (var i in field_prefixes) {
		/* Provide default loading handlers. */
		set_default_load_handler(field_prefixes[i]);
		hook_country_field(field_prefixes[i]);
	}
});
</script>
{% endif %}
