Requirements
============

Satchmo is based on the Django framework, therefore you do need a fully functioning
Django instance to use Satchmo.  The `Django installation guide`_ will step you
through the process.

It is recommended that you use the latest stable Django 1.0 series. As of this
release Django 1.0 is the minimum version but 1.0.2 is recommended because it
has the latest bug fixes and enhancements.

Satchmo requires Python 2.3 or later and a database supported by Django.

There are a number of other Python packages that are required for usage of all the
features in Satchmo.

- `Python Imaging Library`_
- `Elementtree`_ (included in Python 2.5+)
- `Python cryptography toolkit`_ (`Windows binary`_)
- `ReportLab`_
- `Tiny RML2PDF`_ (`download link`_)
- `Django Threaded Multihost`_
- `Django App Plugins`_

There are also a number of other Django packages (mentioned below) that you will require

For the account registration process, you will need:

- `Django Registration`_

A valid Django cache backend (file, memcached or DB) is required for the config settings.

The following package is required to load the initial data and run the unit tests:

- `PyYaml`_

Docutils is useful for auto generating some documentation:

- `Docutils`_

Detailed steps for installing these dependencies is included in the installation_ section.

.. _Django installation guide: http://www.djangoproject.com/documentation/install/
.. _Python Imaging Library: http://www.pythonware.com/products/pil/
.. _Elementtree: http://effbot.org/zone/element-index.htm
.. _Python cryptography toolkit: http://www.amk.ca/python/code/crypto
.. _Windows binary: http://www.voidspace.org.uk/python/modules.shtml#pycrypto
.. _ReportLab: http://www.reportlab.org/
.. _DocUtils: http://docutils.sourceforge.net/
.. _PyYaml: http://pyyaml.org/
.. _Authorize.net: http://www.authorize.net/
.. _Tiny RML2PDF: http://openreport.org/index.py/static/page/trml2pdf
.. _download link: http://tinyforge.org/frs/download.php/1/trml2pdf.tar.gz
.. _Django Registration: http://code.google.com/p/django-registration/
.. _django-comment-utils: http://code.google.com/p/django-comment-utils/
.. _snapshot: http://www.satchmoproject.com/snapshots/
.. _Docutils: http://docutils.sourceforge.net/
.. _installation : new_installation.html
.. _`Django Threaded Multihost`: http://gosatchmo.com/apps/django-threaded-multihost/
.. _`Django App Plugins`: http://code.google.com/p/django-app-plugins/
