{% extends "admin/base.html" %}
{% load i18n satchmo_util %}

{% block extrahead %}
{% blackbird_logging %}
{{ block.super }}
    <script src="{{media_url}}js/jquery.js" type="text/javascript"></script>
	<script type="text/javascript"><!--
	var satchmo = satchmo || {};
	satchmo.select_if_one = function(selector, label) {
		var elt = $(selector);
		if (elt && elt.length>0 && elt[0].options.length == 2) {
			log.debug('selecting default ' + label);
			elt[0].options[1].selected = true;
		}
	}
    $(function() {
		satchmo.select_if_one('#id_site', 'site');
	});
	-->
	</script>
{% endblock %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
#content-related { float:right; width:29em; position:relative; margin-right: -30em;}
#content-related .module h2 { cursor: default; }
#content-related .module h2 .status { font-style: italic; }
</style>
{% endblock %}

{% block title %}{{ title|escape }} | {% trans 'Satchmo Site Administration' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Satchmo Site Administration' %}</h1>
{% endblock %}

{% block nav-global %}

{% endblock %}
